body {
    background-color: black;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 3rem;
    width: 100vw;
    margin-top: 3rem;
    color: #3f3f3f;
    font-family: 'EB Garamond', serif;
}

.header h1 {
    color: #ffffff;
    font-size: 35pt;

    animation: animate_header 1.5s forwards;
    
}

@keyframes animate_header {
   0% { opacity: 0%; }
   50% { opacity: 0%; }
   100% { opacity: 100% }
}

@keyframes animate_navbar {
    0% { margin-top: 100rem; }
    100% { margin-top: 0rem; } 
}

@keyframes animate_returnbar {
    0% { opacity: 0%; }
    75% { opacity: 0%; }
    100% { opacity: 100% }
}

@keyframes animate_image {
    0% { opacity: 100%; }
    100% { opacity: 50% }
}

.casual {
    display:flex;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 100vw;

    animation: animate_navbar 1.5s forwards;
}

.navbar {
    display:flex;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    visibility: visible;
    height: 90vh;
    width: 100vw;

    animation: animate_navbar 1.5s forwards;
}

.navbar li {
    color: white;
    font-size: 3rem;
}

.navbar input[type='button'].inactive {
    background-color: #3f3f3f;
    width: 10rem;
    height: 5rem;
}

.navbar input[type='button'].inactive:active {
    -moz-box-shadow:    inset 0 0 0 #000000;
    -webkit-box-shadow: inset 0 0 0 #000000;
    box-shadow:         inset 0 0 0 #000000;
}

.navbar input[type='button'] {
    background-color: rgb(255, 255, 255);
    width: 10rem;
    height: 5rem;
    border: 0px;
}

.navbar input[type='button']:active { 
    background-color:rgb(255, 255, 255);

    -moz-box-shadow:    inset 0 0 0.5rem #000000;
    -webkit-box-shadow: inset 0 0 0.5rem #000000;
    box-shadow:         inset 0 0 0.5rem #000000;
}

.navbar img:hover, :active {
    animation: animate_image 0.5s forwards;
}
.navbar img {
    width: 14rem;
}

.returnbar{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 10rem;
    width: 100vw;
    margin-left: 3rem;

    animation: animate_returnbar 1.5s forwards;
}
input[type="button"]{
    font-family: 'Open Sans', sans-serif;
    background-color:#ffffff;
    border: 0px;

}
#descricao li{
    margin-top: 1rem;
}
